p{
  text-align: left;
  font-size: xx-large;
  font-family: sans-serif;
}
body{
     font-size: xx-large;
     text-align: center;
     background: linear-gradient(cyan, white);
     background-attachment: fixed;
     background-repeat: no-repeat;

}
img{
   border: solid;
   border-color: rgb(0, 0, 0);
   border-width: 3px;
   border-radius: 30px;
}
h1{
   font-family: sans-serif;

}
d1{
   font-family: sans-serif;
   border-color: aqua;
   border-radius: 22px;
}
li{
   text-align: left;
}

ul{
   text-align: left;

}
ol{
   text-align: left;

}
h2{
    font-family: sans-serif;
    font-size: x-large;
    font-style: italic;
}

d1{
   font-family: sans-serif;
   font-size: x-large;
   font-style:italic;
} 
